  
  .container {
    height: 100%;
    padding: 20px;
    border-radius: 10px;  

  }
  .card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    transition: transform 0.2s;
  }

  .card-title {
    color: #343a40;
    font-weight: bold;
  }

  .form-group label {
    font-weight: bold;
  }
  .btn-custom-light-green {
    background-color: #83AE04 !important;
    border-color: #83AE04 !important;
    color: white !important;
  }

